<head>
    <link rel="icon" type="image/png"  href="/public/favicon/ticket64.png">
    <title>Ticket Tool-Insights</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>

<div class="container">
    <br>
    <a class="navbar-brand" href="/ticket-tool">TICKET TOOL</a>
    <a class="navbar-brand" href="/ticket-tool">Home</a>
    <a class="navbar-brand" href="/ticket-tool/v1/insights">Back</a></h2>
    <h3>Changelogs</h3>
    <br>
    <p><u>Version 1.1</u> - 2022/01/22</p>
    <li>Minor UI changes in launch and search pages</li>
    <li>Introduced export data for specific month for the span of last 12 months</li>
    <li>Introduced view data for specific month for the span of last 12 months</li>
    <li>Added update feature for Ticket category, description, detailed description in Search page which are mandatory</li>
    <li>Enabled data backup for master ticket data and updates are captured in the backup table with modified date</li>
    <li>New resolution is made mandatory in Configuration page</li>
    <li>Columns in report is arranged with respect to Management ticket analysis sheet</li>
    <li>Added Incident and SR count for the month</li>
    <br>
    <p><u>Version 1.0</u> - 2022/01/15</p>
    <li>Initial stable release</li>
    <li>Ticket search feature</li>
    <li>Export feature for downloading complete ticket data and for previous month</li>
    <li>View ticket data for current month</li>
    <li>Configuration page to add new resolution</li>
</div>