<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"  href="favicon/ticket64.png">
    <title>Ticket tool</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-exp">
        <div class="container">
            <a class="navbar-brand" href="/ticket-tool">TICKET TOOL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <!-- <li class="nav-item">
                        <label class="nav-link">Incident : <%= count %></label>
                    </li>
                    <li class="nav-item">
                        <label class="nav-link">Service Request : <%= count %></label>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link nav-val" href="/ticket-tool/export">EXPORT FOR <%= prevMON %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-val" href="/ticket-tool/exportAll">EXPORT ALL</a>
                    </li>
                    <form id="search" action="/ticket-tool/search" method="post">
                        <input type="number" name="ticketnum" placeholder="Enter Ticket to search">
                    </form>
                    
                </ul>
            </div>
        </div>
    </nav>
    
