.heading {
    /* background-color: rgba(160, 245, 132, 0.289); */
    color: slateblue;
    text-align: center;
    text-decoration: solid;
    /* border-radius: 10px; */
    text-transform: uppercase;
}

.subHeading {
    text-align: left;
    text-decoration: wavy;
    color: orange;
}

.bg-exp {
    background-color: slateblue;
}

.cpny-lg {
    background-color: slateblue;
    color: wheat;
}

html {
    zoom: 95%;
}

.mb-3 {
    border-radius: 10px;
}


.gear {
    text-align: center;
    size: 10px !important;
    color: antiquewhite;

}

.table-no-border {
    border-color: white;
    margin-bottom: 0rem;
}

.btn-nav {
    background-color: #968bdf;
    color: antiquewhite;
    border-width: 1px;
}

.footwrapper {
    margin-top: 10px;
}

.count {
    padding: 5px;
    background-color: #968bdf;
    table-layout: auto;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.dataTables_filter {
    margin-bottom: 10px;
}