<br><br>
<footer class="navbar cpny-lg footwrapper fixed-bottom" style="background-color: #fff;">
    <label>&emsp;&copy; MMXXII - For internal use only!</label>
    <label>
        { <a class="footer-link" href="/ticket-tool/api-documentation/redirect" target="_blank">API Documentation</a> }
        &#x2022;
        Report issues <a class="footer-link" href="https://github.com/Pragades-Rajagopal/ticketApp-node/issues"
            target="_blank">here</a>
        &#x2022;
        <b>version2.1</b>
        <a class="insights-link" href="/ticket-tool/v/insights">insights</a></label>
</footer>

</body>

</html>