<br><br>
<footer class="navbar cpny-lg footwrapper fixed-bottom" style="background-color: #fff;">
    <label>&emsp;&copy; MMXXII - For internal use only!</label>
    <label>Report issues <a href="https://github.com/Pragades-Rajagopal/ticketApp-node/issues" target="_blank">here</a>
        |
        <b>version2.1</b>
        <a class="insights-link" href="/ticket-tool/v/insights">insights</a></label>
</footer>

</body>

</html>