
<br><br>
<footer class="navbar cpny-lg footwrapper fixed-bottom" style="background-color: #fff;">
    <label>&emsp;&copy; MMXXII - For internal use only!</label>
    <label><b>version1.4</b> <a class="insights-link" href="/ticket-tool/v/insights">insights</a></label>
</footer>

</body>
</html>

