.heading {
    /* background-color: rgba(160, 245, 132, 0.289); */
    color: slateblue;
    text-align: center;
    text-decoration: solid;
    /* border-radius: 10px; */
    text-transform: lowercase;
}

.subHeading {
    text-align: left;
    text-decoration: wavy;
    color: orange;
}

.bg-exp {
    background-color: slateblue;
}

.cpny-lg {
    /* background-color: slateblue */
    /* background-color: hsl(248, 53%, 58%, 85%); */
    color: slateblue;
}

.insights-link {
    color: hsl(248, 53%, 58%, 85%);
    text-decoration: none;
    padding-left: 2px;
}

.insights-link:hover {
    color: #000000;
}

html {
    zoom: 100%;
    /* background-color: hsl(248, 53%, 58%, 85%); */
}

.mb-3 {
    border-radius: 10px;
}


.gear {
    text-align: center;
    size: 10px !important;
    color: antiquewhite;
    font-size: 18px;
    font-style: italic;
}

.table-no-border {
    border-color: white;
    margin-bottom: 0rem;
}

.btn-nav {
    /* background-color: #968bdf; */
    background-color: none;
    color: antiquewhite;
    /* border-width: 1px; */
    /* font-size: 12px; */
}

.nav-val,
.nav-link {
    color: antiquewhite !important;
}

.navbar-nav {
    align-items: center;
}

.btn-hover:hover,
.gear:hover {
    color: #000 !important;
}

.wrap-ctn {
    border-width: 1px;
    border-style: solid;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
}

.footwrapper {
    margin-top: 10px;
    padding-right: 88px;
    padding-left: 88px;
}

.footer-link {
    text-decoration: none
}

.footer-link:hover {
    text-decoration: underline
}

.count {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #968bdf;
    table-layout: auto;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.dataTables_filter {
    margin-bottom: 10px;
}

.para-hl,
.para-hl-link {
    background-color: lightgreen;
    padding-left: 10px;
    color: #000;
}

.para-hl-link {
    text-decoration: none;
    color: red;
    font-style: italic;
}

.para-hl-link:hover {
    color: blue;
}

.app-logo {
    align-content: center;
    padding-top: 1px;
    padding-right: 2px;
}

.searchError {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
}

.catbtn {
    text-transform: uppercase;
    background-color: antiquewhite;
}

.kb-table {
    border: 1px solid rgb(201, 201, 201);
    width: 30%;
    text-align: center;
}

.container-shrink {
    max-width: 800px;
}

.container-shrink-config {
    max-width: 700px;
}

.config-label {
    background-color: hsl(39, 100%, 50%, 20%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-style: solid;
    border: hsl(39, 100%, 50%, 50%);
    ;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: 14px;
}

.config-label-btn {
    padding-left: 5px;
    text-align: center;
    background: none;
    border-style: none;
    color: hsl(0, 100%, 50%);
}

.config-label-btn:hover {
    background-color: hsl(0, 100%, 50%, 20%);
    border-radius: 15px;
}

.search-page-lbl {
    padding-left: 4px;
    padding-bottom: 2px;
}

.export-all-link {
    text-decoration: none;
    padding-left: -10px;
}

.export-all-link:hover {
    color: red;
}

.export-page-table td {
    background-color: lightsalmon;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.export-page-table-2 td {
    background-color: hsl(271, 76%, 53%, 35%);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}